.breadcrumb {
  margin-top: 78px;
  padding-left: 10px;
  background: none;
  width: 454px;
  height: 14px;
  font-size: 14px;
  color: #6b6b6b;

  .breadcrumb-item {
    a {
      color: #6b6b6b;
    }
  }
}